<footer id="page-footer">
    <h1>"{{ .Site.Params.tagline }}"</h1>
    
    <ul>
      <li><a href="https://www.twitter.com/pixeljuice" target="_blank"><h2 class="brand-icon-twitter"></h2><span class="hidden">Twitter</span></a></li>
      <li><a href="https://www.github.com/PixelJuice" target="_blank"><h2 class="brand-icon-github"></h2><span class="hidden">Github</span></a></li>
      <li><a href="https://www.facebook.com/PxlJuc" target="_blank"><h2 class="brand-icon-facebook"></h2><span class="hidden">Facebook</span></a></li>
      <li><a href="http://www.steamcommunity.com/id/pxljuc/" target="_blank"> <h2 class="brand-icon-steam"></h2><span class="hidden">Steam</span></a></li>
  </ul>
  <small>© {{ now.Format "2006" }} Jonas Johansson. All rights reserved. Game Developer and a somewhat nice guy.</small>
  </footer>