//Dark
/*$base-font-color: #97a9bb;
$main-background-color: #1B262C;
$background-grid-color:#1B262C;

$link-color: #fd64bd;
$link-hover-color:  #fd64bd;
$link-visited-color:  #d6e2e9;
$ligh-font-color: #4f6773; 


$footer-bg: #0b0f13;
$footer-font-color: #97a9bb;
$footer-link-hover: $link-hover-color;


::selection {
    background:$link-hover-color;
    color: white;
  }*/


$base-font-color: #3a4653;
$main-background-color: #eceff4;
$background-grid-color:#e6e8ed;

$link-color: #0099CC;
$link-hover-color:  #FA5FC9;
$link-visited-color:  #0099CC;
$ligh-font-color: #4f6773; 


$footer-bg: #1d252c;
$footer-font-color: #97a9bb;
$footer-link-hover: $link-hover-color;


::selection {
    background:$link-hover-color;
    color: white;
  }