<section id="social">
  <h2 class="icon-h icon-heart">&lt; Social &gt;</h2>
  <div class="grid">
    <ul class="icon-ul">
      <li class="icon-li brand-icon-twitter">Twitter:</li>
      <li>
        <a href="https://www.twitter.com/pixeljuice" target="_blank"
          >@PixelJuice</a
        >
      </li>
    </ul>
    <ul class="icon-ul">
      <li class="icon-li brand-icon-github">Github:</li>
      <li>
        <a href="https://www.github.com/PixelJuice" target="_blank"
          >PixelJuice</a
        >
      </li>
    </ul>
    <ul class="icon-ul">
      <li class="icon-li brand-icon-facebook">Facebook:</li>
      <li>
        <a href="https://www.facebook.com/PxlJuc" target="_blank">PxlJuc</a>
      </li>
    </ul>
    <ul class="icon-ul">
      <li class="icon-li brand-icon-steam">Steam:</li>
      <li>
        <a href="http://www.steamcommunity.com/id/pxljuc/" target="_blank"
          >PxlJuc</a
        >
      </li>
    </ul>
  </div>
</section>
