{{ if eq . "Techart"}}
<span class="file-icon-stack">
    <span class="icon-magic category-file-icon"></span>
    <span class="icon-file category-file-icon"></span>
</span>
{{ end }}
{{ if eq . "Web Development"}}
<span class="file-icon-stack">
    <span class="icon-spider-web category-file-icon"></span>
    <span class="icon-file category-file-icon"></span>
</span>
{{ end }}
{{ if eq . "Gaming"}}
<span class="file-icon-stack">
    <span class="icon-gamepad rotated-left-45degrees category-file-icon"></span>
    <span class="icon-file category-file-icon"></span>
</span>
{{end}}