<footer class="post-footer">
    <section class="contact">
      <h5>Want to get in touch?</h5>
      <ul class="icon-ul">
        <li><a href="https://www.twitter.com/pixeljuice" target="_blank"><span class="brand-icon-twitter"></span><span class="hidden">Twitter</span></a></li>
        <!--<li><a href="https://www.github.com/PixelJuice" target="_blank"><span class="brand-icon-github"></span><span class="hidden">Github</span></a></li>-->
        <li><a href="mailto:{{.Site.Params.contact.email}}" target="_top"><span class="icon-envelope"></span><span class="hidden">Mail</span></a></li>
      </ul>
    </section>
    <section class="share">
      <h5>Like it? Share it!</h5>
      <ul class="icon-ul">
      <li><a href="https://twitter.com/intent/tweet?text={{ .Title }}&amp;url={{ .Permalink }}" target="_blank" aria-label="Share on Twitter" onclick="window.open(this.href, 'twitter-share','width=550,height=235');return false;">
          <span class="brand-icon-twitter-square"></span><span class="hidden">Twitter</span>
      </a></li>
      <li><a href="https://facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank" aria-label="Share on Facebook" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
        <span class="brand-icon-facebook-square"></span><span class="hidden">Facebook</span>
      </a></li>
      <!--<li><a href="https://plus.google.com/share?url={{ .Permalink }}" target="_blank" aria-label="Share on Google+" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
          <svg><use xlink:href="sprites/brands.svg#google-plus-square"></use></svg><span class="hidden">Google+</span>
      </a></li>-->
      <li><a href="https://reddit.com/submit/?url={{ .Permalink }}" target="_blank" aria-label="Share on Reddit" onclick="window.open(this.href, 'reddit-share', 'width=910,height=1000');return false;">
          <span class="brand-icon-reddit-square"></span><span class="hidden">Reddit</span>
      </a></li>
    </ul>
    </section>
  </footer>